@use '@angular/material' as mat;
@import 'partials/theme';
@include mat.elevation-classes();
@include mat.app-background();
@include mat.typography-hierarchy($flora-web-theme);
@include mat.all-component-themes($flora-web-theme);
