@font-face {
  font-family: Flanders;
  src: url('/assets/fonts/FlandersArtSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Flanders;
  src: url('/assets/fonts/FlandersArtSans-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Flanders;
  src: url('/assets/fonts/FlandersArtSans-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Flanders;
  src: url('/assets/fonts/FlandersArtSans-Bold.ttf');
  font-weight: 900;
  font-style: normal;
}
