$inbo-primary: (
  50 : #f7e8f0,
  100 : #ecc7da,
  200 : #e0a1c2,
  300 : #d37ba9,
  400 : #c95f96,
  500 : #c04384,
  600 : #ba3d7c,
  700 : #b23471,
  800 : #aa2c67,
  900 : #9c1e54,
  A100 : #ffd5e6,
  A200 : #ffa2c8,
  A400 : #ff6fa9,
  A700 : #ff569a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$inbo-warn: (
  50 : #fce7e9,
  100 : #f6c3c7,
  200 : #f19ba2,
  300 : #eb727d,
  400 : #e65461,
  500 : #e23645,
  600 : #df303e,
  700 : #da2936,
  800 : #d6222e,
  900 : #cf161f,
  A100 : #ffffff,
  A200 : #ffcdcf,
  A400 : #ff9a9e,
  A700 : #ff8085,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
