@use '@angular/material' as mat;
@import 'flanders-fonts';

// Based on https://overheid.vlaanderen.be/webuniversum/v3/documentation/atoms/vl-ui-typography

$flanders-typography: mat.m2-define-typography-config(
  $font-family: 'Flanders, sans-serif',
  $headline-5: mat.m2-define-typography-level(42px, 1.18, 500),
  // `<h1>`
  $headline-6: mat.m2-define-typography-level(30px, 1.24, 500),
  // `<h2>`
  $subtitle-1: mat.m2-define-typography-level(24px, 1.3, 500),
  // `<h3>`
  $subtitle-2: mat.m2-define-typography-level(20px, 1.36, 500),
  // `<h4>`
  $body-1: mat.m2-define-typography-level(16px, 1.2, 400),
  // Base body text.
  $body-2: mat.m2-define-typography-level(16px, 1.2, 300),
  // Secondary body text.
  $caption: mat.m2-define-typography-level(15px, 1.1, 300),
  // Smaller body and hint text.
  $button: mat.m2-define-typography-level(16px, 1.2, 400), // Buttons and anchors.
);
